@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  z-index: 10;
}

nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 14px;
}

nav a:hover {
  text-decoration: underline;
}

.logo {
  font-family: 'Great Vibes', cursive;
  font-size: 1.5rem;
  color: white;
}


@media (max-width: 768px) {
  nav {
    display: none; 
  }

  header {
    justify-content: center;
  }
}
