
/* New Footer Style Start */
#wave-foo{
  position: relative;
  width: 100%;
  /* height: 20rem; */
  background-color: #090702;
  margin-top: 8rem !important;
}
#wave-foo::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 10rem;
  background: url('/new-images/wave2.svg') no-repeat center top;
  background-size: cover;
  top: -10rem;
  left: 0;
  transform: scaleY(-1);
}
@media screen and (max-width: 500px) {
  #wave-foo::before {
    height: 5rem;
     top: -5rem;
  }
}
#wave-foo article{
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem 1.4rem 1.8rem 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}
#wave-foo article .foo-closing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
#wave-foo article .foo-closing h2{
  color: #F7F7F7;
  line-height: 150%;
  font-size: 24px;
  font-family: var(--el-messiri);
}
#wave-foo article .foo-closing p{
  max-width: 559px;
  text-align: center;
  color: #AFAFAF;
  line-height: 150%;
  font-size: 15px;
  font-family: var(--poppins);
}

#wave-foo article .foo-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
#wave-foo article .foo-details a{
  color: #AFAFAF;
  text-decoration: none;
  font-size: 15px;
  line-height: 150%;

}
#wave-foo article .foo-details ul{
  display: flex;
  gap: 25px;
}
#wave-foo article .foo-details li{
  list-style: none;
}
/* New Footer Style End */